<footer class="footer">
    <div class="footer__text">
        <svg id="emoji" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg"  width="7.0000mm" height="7.0000mm">
            <g id="color">
                <circle cx="36.0001" cy="36" r="22.9999" fill="#fcea2b" />
            </g>
            <g id="hair" />
            <g id="skin" />
            <g id="skin-shadow" />
            <g id="line">
                <circle cx="36" cy="36" r="23" fill="none" stroke="#000" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2" />
                <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M45.8147,45.2268a15.4294,15.4294,0,0,1-19.6294,0" />
                <path fill="none" stroke="#000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                    d="M31.6941,33.4036a4.7262,4.7262,0,0,0-8.6382,0" />
                <path fill="none" stroke="#000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                    d="M48.9441,33.4036a4.7262,4.7262,0,0,0-8.6382,0" />
            </g>
        </svg>
        <span i18n="Author signature | Author signature in the page footer" id="footer-signature">
            by Darío Ravello - Fullstack Developer
        </span>
    </div>
</footer>