// FILE SETS DEFAULT COLOR VALUES
// IS NOT SUPPOSED TO BE IMPORTED ANYWHERE

/* ------------------------------------*\
   ALL DEFAULTS COLORS
\*------------------------------------ */

/* ------------------------------------
  UI/UX CONSISTENCY VARIABLES
------------------------------------ */
$white-color: #ffffff !default;
$grey-dark-90-color: #373737 !default;
$grey-dark-80-color: #58595b !default;
$grey-dark-70-color: #787878 !default;
$grey-dark-60-color: #848484 !default;
$grey-light-60-color: #898989 !default;
$grey-light-50-color: #999 !default;
$grey-light-40-color: #bbbdbf !default;
$grey-light-35-color: #ccc !default;
$grey-light-30-color: #ddd !default;
$grey-light-20-color: #ececeb !default;
$grey-light-10-color: #f7f7f7 !default;

/* ------------------------------------*\
   BRAND COLOR
\*------------------------------------ */
$brand-color: #ba343d;
$brand-color-secondary: #78dfdc;
$qu-principal-color: $brand-color !default;

/* ------------------------------------*\
   MAIN PAGE
\*------------------------------------ */
$main-bg: $grey-light-30-color !default;

/* ------------------------------------*\
   NOT FOUND PAGE
\*------------------------------------ */
$not-found-bg: $grey-dark-90-color;
$not-found-ghost: $brand-color;
$not-found-heading: $grey-dark-70-color;

/* ------------------------------------*\
   HEADER
\*------------------------------------ */
$header-bg: $brand-color !default;

/* ------------------------------------*\
   TITLE
\*------------------------------------ */
$title-underline-bg: $brand-color !default;

/* ------------------------------------*\
   BUTTON
\*------------------------------------ */
$button-bg: $brand-color !default;
$button-color: $white-color !default;
$button-border-color: $white-color !default;
$button-color-shadow: $brand-color-secondary !default;

/* ------------------------------------*\
   FOOTER
\*------------------------------------ */
$footer-bg: $brand-color-secondary !default;
$footer-color: $grey-dark-60-color !default;
$footer-link-border-color: $grey-light-30-color !default;