/* ------------------------------------*\
   ALL COMMON CLASSES
\*------------------------------------ */

.qu-center-text {
    text-align: center;
}

.qu-left-text {
    text-align: left;
}

.qu-right-text {
    text-align: right;
}

.qu-margin-bottom25 {
    margin-bottom: 25px;
}