<span *ngIf="!response">
    <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"
        style="width: calc(100vw - 282px) !important; height: calc(100vh - 480px) !important; position: absolute !important;" >
        <p class="loading">
            <img src='assets/images/qu-logo.svg' /><br>
            Loading ...
        </p>
    </ngx-spinner>
</span>
<form class="qu-table">

    <div class="d-flex justify-content-between p-2 qu-table__pagination qu-margin-bottom25">
        <div class="btn-group btn-group-toggle qu-table__pagination-buttons">
            <button type="button" class="btn btn-primary btn-lg" (click)="firstPage()" id="button-pagination-first"
                [disabled]="isDisabledFirstButton()">First</button>
            <button type="button" class="btn btn-primary btn-lg" (click)="previousPage()" id="button-pagination-previous"
                [disabled]="isDisabledPreviousButton()">Previous</button>
            <button type="button" class="btn btn-primary btn-lg" *ngFor="let page of pages" (click)="openPage(page+1)" id="button-pagination-{{page + 1}}"
                [disabled]="isDisabledButton(page+1)">{{page + 1}}</button>
            <button type="button" class="btn btn-primary btn-lg" (click)="nextPage()" id="button-pagination-next"
                [disabled]="isDisabledNextButton()">Next</button>
            <button type="button" class="btn btn-primary btn-lg" (click)="lastPage()" id="button-pagination-last"
                [disabled]="isDisabledLastButton()">Last</button>
        </div>
        <div class="qu-table__pagination-page" i18n="Page number | Current page number of pagination table">
            Page {{this.page}}
        </div>
    </div>

    <table class="table table-striped" *ngIf="response">
        <thead>
            <tr>
                <th *ngFor="let title of getTableTitles()" scope="col" sortable="{{title}}" (sort)="onSort($event)" class="qu-table__title-sortable">
                    {{title | tabletitle}} 
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of response.results; let i = index ">
                <td *ngFor="let entry of row | keyvalue: asIsOrder">
                    <div scope="row" *ngIf="TableUtil.isNumber(entry.value)" class="qu-right-text">
                        {{ entry.value  | number}}
                    </div>
                    <div scope="row" *ngIf="TableUtil.isDate(entry.value)" class="qu-center-text">
                        {{ entry.value  | date : 'dd/MM/yy HH:mm' }}
                    </div>
                    <div scope="row" *ngIf="TableUtil.isLinkUrl(entry.value)" class="qu-left-text">
                        <a href="{{entry.value}}">{{ entry.key}}</a>
                    </div>
                    <div scope="row" *ngIf="TableUtil.isArray(entry.value)">
                        <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-primary" id="sortMenu" type="button" ngbDropdownToggle>
                                {{entry.key | tabletitle}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="sortMenu" ngbDropdownMenu>
                                <button class="dropdown-item" ngbDropdownItem type="button"
                                    *ngFor="let item of entry.value; let n = index">
                                    <div scope="row" *ngIf="TableUtil.isLinkUrl(item)">
                                        <a href="{{ item }}">{{ entry.key | tabletitle }} {{ n + 1 }} </a>
                                    </div>
                                    <div scope="row" *ngIf="TableUtil.isString(item)">
                                        {{ item | tabletitle }}
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div scope="row" *ngIf="TableUtil.isString(entry.value)" class="qu-left-text">
                        {{ entry.value }}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>