<nav class="navbar navbar-expand-lg navbar-light mb-3">
    <a class="navbar-brand navbar__logo" [routerLink]="'.'">
        <div class="wow animate__animated animate__bounceIn animate__infinite infinite animate__slow 3s" data-wow-delay="0.8s" id="header-logo-q">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="11.3099mm" height="12.0743mm"
                version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 602.42 709.15" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Capa_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer" />
                    <path class="fil0"
                        d="M301.21 0c166.35,0 301.21,134.42 301.21,300.23 0,76.47 -28.7,146.24 -75.92,199.25 22.39,16.59 46.47,23.13 71.54,23.79 -0.42,61.96 -0.83,123.93 -1.25,185.89 -98.43,-1.71 -176.29,-40.65 -234.7,-114.83l0 -0c-19.66,4.02 -40.03,6.14 -60.88,6.14 -166.35,0 -301.21,-134.42 -301.21,-300.23 0,-165.81 134.86,-300.23 301.21,-300.23zm0.13 184.21c61.23,0 110.86,51.91 110.86,115.94 0,64.03 -49.63,115.94 -110.86,115.94 -61.23,0 -110.86,-51.91 -110.86,-115.94 0,-64.03 49.63,-115.94 110.86,-115.94z" />
                </g>
            </svg>
        </div>
        <div class="wow animate__animated animate__bounceIn animate__infinite infinite animate__slow 4s" data-wow-delay="1.8s" id="header-logo-u">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="11.9099mm" height="11.3743mm"
                version="1.1"
                style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                viewBox="0 0 7281.56 7954.71" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Capa_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer" />
                    <rect class="fil0" x="21.65" y="0.03" width="7222.93" height="2366.15" />
                    <path class="fil0"
                        d="M26.49 3120.96l2514.89 14.61c11.7,671.05 -78.25,1327.83 112.25,1668.13 401.2,717.04 1090.53,725.66 1576.37,457.61 389.32,-214.83 480.38,-495.63 525.5,-927.33 49.95,-477.23 -5.76,-1014.26 -1.57,-1212.32l2482.34 16.59c32.66,300.59 65.38,750.17 29.98,1252.49 -86.63,1230.37 -525.56,2219.83 -1590.81,2923.54 -1243.65,801.87 -2420.4,800.53 -3553.31,273.99 -1014.02,-507.27 -1776.36,-1292.08 -2037.54,-2640.76 -107.3,-615.62 -95.07,-1222.05 -58.1,-1826.55z" />
                </g>
            </svg>
        </div>
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse navbar__menu">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a routerLink="home" i18n="Home menu | Menu link to home page" id="menu-home">Home</a>
            </li>
        </ul>
    </div>
</nav>