@import "./../../../base/base";

/* ------------------------------------*\
   TABLES STYLE
\*------------------------------------ */
.qu-table {
  overflow-x: scroll;
  overflow-x: auto;

  th {
    vertical-align: middle !important;
  }

  td {
    vertical-align: middle !important;
  }

  &__title-sortable {
    cursor: pointer;
    white-space: nowrap;
  }
   
  .asc:after{
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    background: url("~/assets/images/asc.svg");
  }

  .desc:after{
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    background: url("~/assets/images/desc.svg");
  }

  &__pagination{
    display: inline-block;
    
    &-page{
      margin: auto 10px;
    }
  }
}
