@import "./../base/base";

/* ------------------------------------*\
   FOOTER STYLE
\*------------------------------------ */
.footer {
  height: 7.5 * $x;
  line-height: 7.5 * $x;
  background-color: $footer-bg;
  text-align: right;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
  &__text {
    margin-right: 4 * $x;
    color: $brand-color;
    font-weight: 600;
  }
}
