@import "./../base/base";

/* ------------------------------------*\
   HEADER STYLE
\*------------------------------------ */
.navbar {
    min-height: 9.25 * $x;
    -webkit-box-shadow: 2px 11px 40px -14px rgba(0,0,0,0.72);
    -moz-box-shadow: 2px 11px 40px -14px rgba(0,0,0,0.72);
    box-shadow: 0px 11px 20px -14px rgba(0,0,0,0.72);
    background-color: $header-bg;

    &__menu {
        a {
            color: $white-color !important;
            font-weight: 700;
        }
    }

    &__logo {
        position: relative;
        display: flex !important;
        rect.fil0 {
            fill: white;
        }
        path.fil0 {
            fill: white;
        }
    }
}