@import "./../base/base";
 
html, body {
    height: 100%;
    margin: 0;
}

/* ------------------------------------*\
   Styling the main page layout
\*------------------------------------ */
.qu-main-container {
    background-color: $main-bg;
    padding-bottom: 7.5 * $x;
    min-height: calc(100vh - 60px);

    &__content {
        margin: 5*$x 8.9*$x;
        padding: 8.75 * $x;
        background-color: $white-color;
        border-radius: 3.75 * $x;
        min-height: calc(100vh - 220px);
    }
}