@import "./../base/base";

/* ------------------------------------*\
   Styling the not found page
\*------------------------------------ */ 
.not-found-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: middle;

  &__error {
    color: $not-found-heading;
    font-size: 25 * $x;
    letter-spacing: 0.1em;
    margin: 1*$x 0;
    text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
 
    & > span {
      animation: spooky 2s alternate infinite linear;
      color: $not-found-ghost;
      display: inline-block;
    }

    &-message {
      color: $not-found-heading;
      margin-bottom: 2 * $x;
      font-size: 5 * $x;
    }

    &-description {
      color: $not-found-heading;
      margin-top: 0;
      font-size: 2.5 * $x;
    }
  }
}

@keyframes spooky {
  from {
    transform: translatey(0.15em) scaley(0.95);
  }

  to {
    transform: translatey(-0.15em);
  }
}
