<qu-title i18n="planets list title | Title of planets table" id="title-planet-list">Planets list</qu-title>
<qu-table *ngIf="this.planetList" [response]="this.planetList" [pageEndPoint]="this.apiEndPoint"></qu-table>